<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386135283297-h381t8b7rh73vobrhk1jkqf0greoctut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386135283297-h381t8b7rh73vobrhk1jkqf0greoctut</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>386135283297-6cecd0behk51sqoc9s34qv4djtmn4ngd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBW6jcjFBoYaOQyNCfzmZV7VMHeGGvxsBg</string>
	<key>GCM_SENDER_ID</key>
	<string>386135283297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uydevs.plataformaApp</string>
	<key>PROJECT_ID</key>
	<string>appplataforma-1599686465377</string>
	<key>STORAGE_BUCKET</key>
	<string>appplataforma-1599686465377.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:386135283297:ios:7dd456c87ecdc0f8ab3c20</string>
	<key>DATABASE_URL</key>
	<string>https://appplataforma-1599686465377.firebaseio.com</string>
</dict>
</plist>
